body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1454px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27170 {
  position:absolute;
  left:8px;
  top:100px;
  width:256px;
  height:1454px;
}
#u27171 {
  position:absolute;
  left:2px;
  top:719px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:1450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27172 {
  position:absolute;
  left:230px;
  top:104px;
  width:1060px;
  height:1450px;
}
#u27173 {
  position:absolute;
  left:2px;
  top:717px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27174 {
  position:absolute;
  left:275px;
  top:340px;
  width:775px;
  height:216px;
}
#u27175 {
  position:absolute;
  left:2px;
  top:100px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u27176 {
  position:absolute;
  left:266px;
  top:121px;
  width:983px;
  height:46px;
  color:#666666;
  text-align:left;
}
#u27177 {
  position:absolute;
  left:2px;
  top:15px;
  width:979px;
  word-wrap:break-word;
}
#u27178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27178 {
  position:absolute;
  left:411px;
  top:617px;
  width:100px;
  height:40px;
}
#u27179 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u27180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u27180 {
  position:absolute;
  left:534px;
  top:617px;
  width:100px;
  height:40px;
  color:#000000;
}
#u27181 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u27182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27182 {
  position:absolute;
  left:275px;
  top:204px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27183 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u27185 {
  position:absolute;
  left:298px;
  top:383px;
  width:54px;
  height:16px;
}
#u27186 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27187 {
  position:absolute;
  left:413px;
  top:376px;
  width:126px;
  height:31px;
}
#u27187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27188 {
  position:absolute;
  left:564px;
  top:376px;
  width:40px;
  height:16px;
}
#u27189 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u27190 {
  position:absolute;
  left:300px;
  top:444px;
  width:41px;
  height:16px;
}
#u27191 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u27192 {
  position:absolute;
  left:413px;
  top:436px;
  width:126px;
  height:31px;
}
#u27192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27193 {
  position:absolute;
  left:564px;
  top:444px;
  width:40px;
  height:16px;
}
#u27194 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u27195 {
  position:absolute;
  left:300px;
  top:506px;
  width:54px;
  height:16px;
}
#u27196 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27197 {
  position:absolute;
  left:413px;
  top:506px;
  width:126px;
  height:31px;
}
#u27197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27198 {
  position:absolute;
  left:559px;
  top:514px;
  width:40px;
  height:16px;
}
#u27199 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27201 {
  position:absolute;
  left:7px;
  top:0px;
  width:1283px;
  height:101px;
}
#u27202 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27204 {
  position:absolute;
  left:111px;
  top:45px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27205 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u27206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u27206 {
  position:absolute;
  left:53px;
  top:37px;
  width:38px;
  height:38px;
}
#u27207 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27209 {
  position:absolute;
  left:1032px;
  top:71px;
  width:116px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27210 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u27211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u27211 {
  position:absolute;
  left:1173px;
  top:71px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u27212 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u27213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27214 {
  position:absolute;
  left:7px;
  top:217px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27215 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27216 {
  position:absolute;
  left:18px;
  top:280px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27217 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27218 {
  position:absolute;
  left:18px;
  top:323px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27219 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27220 {
  position:absolute;
  left:7px;
  top:111px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27221 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27222 {
  position:absolute;
  left:18px;
  top:174px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27223 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27224 {
  position:absolute;
  left:15px;
  top:1064px;
  width:221px;
  height:43px;
}
#u27225 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27226 {
  position:absolute;
  left:4px;
  top:1001px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27227 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27228 {
  position:absolute;
  left:0px;
  top:366px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27229 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
}
#u27230 {
  position:absolute;
  left:11px;
  top:428px;
  width:222px;
  height:43px;
  color:#000000;
}
#u27231 {
  position:absolute;
  left:2px;
  top:14px;
  width:218px;
  word-wrap:break-word;
}
#u27232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27232 {
  position:absolute;
  left:15px;
  top:1169px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27233 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27234 {
  position:absolute;
  left:4px;
  top:1107px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u27235 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27236 {
  position:absolute;
  left:17px;
  top:533px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27237 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27238 {
  position:absolute;
  left:17px;
  top:576px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27239 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27240 {
  position:absolute;
  left:17px;
  top:619px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27241 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27242 {
  position:absolute;
  left:8px;
  top:662px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27243 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27244 {
  position:absolute;
  left:17px;
  top:724px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27245 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27246 {
  position:absolute;
  left:17px;
  top:767px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27247 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27249 {
  position:absolute;
  left:7px;
  top:100px;
  width:1283px;
  height:11px;
}
#u27250 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27251 {
  position:absolute;
  left:230px;
  top:100px;
  width:9px;
  height:1454px;
}
#u27252 {
  position:absolute;
  left:2px;
  top:719px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27253 {
  position:absolute;
  left:8px;
  top:471px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27254 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27255 {
  position:absolute;
  left:7px;
  top:810px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u27256 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27257 {
  position:absolute;
  left:16px;
  top:872px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27258 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27259 {
  position:absolute;
  left:17px;
  top:915px;
  width:213px;
  height:43px;
  text-decoration:underline;
  color:#008000;
}
#u27260 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27261 {
  position:absolute;
  left:17px;
  top:958px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27262 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27263 {
  position:absolute;
  left:368px;
  top:265px;
  width:148px;
  height:31px;
}
#u27263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:31px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27263_input:disabled {
  color:grayText;
}
#u27264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27264 {
  position:absolute;
  left:275px;
  top:269px;
  width:210px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27265 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u27266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27266 {
  position:absolute;
  left:725px;
  top:202px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27267 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27268 {
  position:absolute;
  left:491px;
  top:198px;
  width:126px;
  height:31px;
}
#u27268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27268_input:disabled {
  color:grayText;
}
#u27269 {
  position:absolute;
  left:941px;
  top:195px;
  width:126px;
  height:31px;
}
#u27269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27269_input:disabled {
  color:grayText;
}
