body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3760 {
  position:absolute;
  left:770px;
  top:496px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u3761 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u3762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3762 {
  position:absolute;
  left:1070px;
  top:496px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u3763 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u3764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3764 {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:800px;
}
#u3765 {
  position:absolute;
  left:2px;
  top:392px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3766 {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
}
#u3767 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u3768 {
  position:absolute;
  left:311px;
  top:439px;
  width:368px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u3769 {
  position:absolute;
  left:16px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u3770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u3770 {
  position:absolute;
  left:311px;
  top:268px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u3771 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u3772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u3772 {
  position:absolute;
  left:311px;
  top:331px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u3773 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3774 {
  position:absolute;
  left:325px;
  top:345px;
  width:14px;
  height:14px;
}
#u3775 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3776 {
  position:absolute;
  left:325px;
  top:280px;
  width:14px;
  height:14px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3778 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3779 {
  position:absolute;
  left:347px;
  top:195px;
  width:301px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3780 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u3781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
}
#u3781 {
  position:absolute;
  left:457px;
  top:128px;
  width:48px;
  height:49px;
}
#u3782 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
