body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1453px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16910 {
  position:absolute;
  left:1px;
  top:101px;
  width:256px;
  height:1453px;
}
#u16911 {
  position:absolute;
  left:2px;
  top:718px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:1458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16912 {
  position:absolute;
  left:218px;
  top:101px;
  width:1065px;
  height:1458px;
}
#u16913 {
  position:absolute;
  left:2px;
  top:721px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u16914 {
  position:absolute;
  left:267px;
  top:111px;
  width:1016px;
  height:46px;
  color:#666666;
  text-align:left;
}
#u16915 {
  position:absolute;
  left:2px;
  top:15px;
  width:1012px;
  word-wrap:break-word;
}
#u16916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16918 {
  position:absolute;
  left:315px;
  top:252px;
  width:103px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16919 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u16920 {
  position:absolute;
  left:444px;
  top:245px;
  width:109px;
  height:31px;
}
#u16920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16921 {
  position:absolute;
  left:315px;
  top:327px;
  width:103px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16922 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u16923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16923 {
  position:absolute;
  left:315px;
  top:403px;
  width:197px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16924 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u16925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16925 {
  position:absolute;
  left:315px;
  top:474px;
  width:131px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16926 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u16927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16927 {
  position:absolute;
  left:315px;
  top:550px;
  width:210px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16928 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u16929 {
  position:absolute;
  left:545px;
  top:543px;
  width:109px;
  height:31px;
}
#u16929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16931 {
  position:absolute;
  left:314px;
  top:629px;
  width:285px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16932 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u16933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
}
#u16933 {
  position:absolute;
  left:314px;
  top:713px;
  width:218px;
  height:16px;
}
#u16934 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u16935 {
  position:absolute;
  left:555px;
  top:706px;
  width:109px;
  height:31px;
}
#u16935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16935_input:disabled {
  color:grayText;
}
#u16936 {
  position:absolute;
  left:444px;
  top:320px;
  width:109px;
  height:31px;
}
#u16936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16936_input:disabled {
  color:grayText;
}
#u16937 {
  position:absolute;
  left:519px;
  top:396px;
  width:109px;
  height:31px;
}
#u16937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16937_input:disabled {
  color:grayText;
}
#u16938 {
  position:absolute;
  left:519px;
  top:467px;
  width:109px;
  height:31px;
}
#u16938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16938_input:disabled {
  color:grayText;
}
#u16939 {
  position:absolute;
  left:617px;
  top:622px;
  width:109px;
  height:31px;
}
#u16939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16939_input:disabled {
  color:grayText;
}
#u16940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16940 {
  position:absolute;
  left:315px;
  top:796px;
  width:145px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16941 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16942 {
  position:absolute;
  left:519px;
  top:789px;
  width:109px;
  height:31px;
}
#u16942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u16943 {
  position:absolute;
  left:657px;
  top:955px;
  width:100px;
  height:40px;
  color:#000000;
}
#u16944 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16945 {
  position:absolute;
  left:476px;
  top:955px;
  width:100px;
  height:40px;
}
#u16946 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16948 {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
}
#u16949 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u16951 {
  position:absolute;
  left:104px;
  top:45px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u16952 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u16953 {
  position:absolute;
  left:45px;
  top:37px;
  width:38px;
  height:38px;
}
#u16954 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u16956 {
  position:absolute;
  left:0px;
  top:217px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16957 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u16958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u16958 {
  position:absolute;
  left:11px;
  top:280px;
  width:221px;
  height:43px;
  color:#000000;
}
#u16959 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u16960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u16960 {
  position:absolute;
  left:11px;
  top:323px;
  width:221px;
  height:43px;
  color:#000000;
}
#u16961 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u16962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u16962 {
  position:absolute;
  left:0px;
  top:111px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16963 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u16964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u16964 {
  position:absolute;
  left:11px;
  top:174px;
  width:221px;
  height:43px;
  text-decoration:underline;
  color:#008000;
}
#u16965 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u16966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u16966 {
  position:absolute;
  left:8px;
  top:1064px;
  width:221px;
  height:43px;
}
#u16967 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u16968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u16968 {
  position:absolute;
  left:-3px;
  top:1001px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16969 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u16970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u16970 {
  position:absolute;
  left:-7px;
  top:366px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16971 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u16972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
}
#u16972 {
  position:absolute;
  left:4px;
  top:428px;
  width:222px;
  height:43px;
  color:#000000;
}
#u16973 {
  position:absolute;
  left:2px;
  top:14px;
  width:218px;
  word-wrap:break-word;
}
#u16974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u16974 {
  position:absolute;
  left:8px;
  top:1169px;
  width:221px;
  height:43px;
  color:#000000;
}
#u16975 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u16976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u16976 {
  position:absolute;
  left:-3px;
  top:1107px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u16977 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u16978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u16978 {
  position:absolute;
  left:10px;
  top:533px;
  width:213px;
  height:43px;
  color:#000000;
}
#u16979 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u16980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u16980 {
  position:absolute;
  left:10px;
  top:576px;
  width:213px;
  height:43px;
  color:#000000;
}
#u16981 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u16982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u16982 {
  position:absolute;
  left:10px;
  top:619px;
  width:213px;
  height:43px;
  color:#000000;
}
#u16983 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u16984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u16984 {
  position:absolute;
  left:1px;
  top:662px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16985 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u16986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u16986 {
  position:absolute;
  left:10px;
  top:724px;
  width:213px;
  height:43px;
  color:#000000;
}
#u16987 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u16988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u16988 {
  position:absolute;
  left:10px;
  top:767px;
  width:213px;
  height:43px;
  color:#000000;
}
#u16989 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u16990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16991 {
  position:absolute;
  left:0px;
  top:100px;
  width:1283px;
  height:11px;
}
#u16992 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16993 {
  position:absolute;
  left:223px;
  top:100px;
  width:9px;
  height:1454px;
}
#u16994 {
  position:absolute;
  left:2px;
  top:719px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u16995 {
  position:absolute;
  left:1px;
  top:471px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16996 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u16997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u16997 {
  position:absolute;
  left:0px;
  top:810px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u16998 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u16999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u16999 {
  position:absolute;
  left:9px;
  top:872px;
  width:213px;
  height:43px;
  color:#000000;
}
#u17000 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u17001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u17001 {
  position:absolute;
  left:10px;
  top:915px;
  width:213px;
  height:43px;
  color:#000000;
}
#u17002 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u17003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u17003 {
  position:absolute;
  left:10px;
  top:958px;
  width:213px;
  height:43px;
  color:#000000;
}
#u17004 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u17005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u17006 {
  position:absolute;
  left:1025px;
  top:71px;
  width:116px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u17007 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u17008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u17008 {
  position:absolute;
  left:1166px;
  top:71px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u17009 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u17010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17010 {
  position:absolute;
  left:507px;
  top:210px;
  width:134px;
  height:49px;
}
#u17011 {
  position:absolute;
  left:10px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u17012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17012 {
  position:absolute;
  left:684px;
  top:534px;
  width:134px;
  height:49px;
}
#u17013 {
  position:absolute;
  left:10px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u17014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17014 {
  position:absolute;
  left:638px;
  top:780px;
  width:134px;
  height:49px;
}
#u17015 {
  position:absolute;
  left:10px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
