body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1454px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27070 {
  position:absolute;
  left:1px;
  top:100px;
  width:256px;
  height:1454px;
}
#u27071 {
  position:absolute;
  left:2px;
  top:719px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:1450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27072 {
  position:absolute;
  left:223px;
  top:104px;
  width:1060px;
  height:1450px;
}
#u27073 {
  position:absolute;
  left:2px;
  top:717px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27074 {
  position:absolute;
  left:268px;
  top:340px;
  width:775px;
  height:216px;
}
#u27075 {
  position:absolute;
  left:2px;
  top:100px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u27076 {
  position:absolute;
  left:259px;
  top:121px;
  width:983px;
  height:46px;
  color:#666666;
  text-align:left;
}
#u27077 {
  position:absolute;
  left:2px;
  top:15px;
  width:979px;
  word-wrap:break-word;
}
#u27078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27078 {
  position:absolute;
  left:404px;
  top:617px;
  width:100px;
  height:40px;
}
#u27079 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u27080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u27080 {
  position:absolute;
  left:527px;
  top:617px;
  width:100px;
  height:40px;
  color:#000000;
}
#u27081 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u27082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27082 {
  position:absolute;
  left:268px;
  top:204px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27083 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u27085 {
  position:absolute;
  left:291px;
  top:383px;
  width:54px;
  height:16px;
}
#u27086 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27087 {
  position:absolute;
  left:406px;
  top:376px;
  width:126px;
  height:31px;
}
#u27087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27088 {
  position:absolute;
  left:557px;
  top:376px;
  width:40px;
  height:16px;
}
#u27089 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u27090 {
  position:absolute;
  left:293px;
  top:444px;
  width:41px;
  height:16px;
}
#u27091 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u27092 {
  position:absolute;
  left:406px;
  top:436px;
  width:126px;
  height:31px;
}
#u27092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27093 {
  position:absolute;
  left:557px;
  top:444px;
  width:40px;
  height:16px;
}
#u27094 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u27095 {
  position:absolute;
  left:293px;
  top:506px;
  width:54px;
  height:16px;
}
#u27096 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27097 {
  position:absolute;
  left:406px;
  top:506px;
  width:126px;
  height:31px;
}
#u27097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27098 {
  position:absolute;
  left:552px;
  top:514px;
  width:40px;
  height:16px;
}
#u27099 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27101 {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
}
#u27102 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27104 {
  position:absolute;
  left:104px;
  top:45px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27105 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u27106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u27106 {
  position:absolute;
  left:46px;
  top:37px;
  width:38px;
  height:38px;
}
#u27107 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27109 {
  position:absolute;
  left:1025px;
  top:71px;
  width:116px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27110 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u27111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u27111 {
  position:absolute;
  left:1166px;
  top:71px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u27112 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u27113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27114 {
  position:absolute;
  left:0px;
  top:217px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27115 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27116 {
  position:absolute;
  left:11px;
  top:280px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27117 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27118 {
  position:absolute;
  left:11px;
  top:323px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27119 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27120 {
  position:absolute;
  left:0px;
  top:111px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27121 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27122 {
  position:absolute;
  left:11px;
  top:174px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27123 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27124 {
  position:absolute;
  left:8px;
  top:1064px;
  width:221px;
  height:43px;
}
#u27125 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27126 {
  position:absolute;
  left:-3px;
  top:1001px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27127 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27128 {
  position:absolute;
  left:-7px;
  top:366px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27129 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
}
#u27130 {
  position:absolute;
  left:4px;
  top:428px;
  width:222px;
  height:43px;
  color:#000000;
}
#u27131 {
  position:absolute;
  left:2px;
  top:14px;
  width:218px;
  word-wrap:break-word;
}
#u27132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27132 {
  position:absolute;
  left:8px;
  top:1169px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27133 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27134 {
  position:absolute;
  left:-3px;
  top:1107px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u27135 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27136 {
  position:absolute;
  left:10px;
  top:533px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27137 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27138 {
  position:absolute;
  left:10px;
  top:576px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27139 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27140 {
  position:absolute;
  left:10px;
  top:619px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27141 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27142 {
  position:absolute;
  left:1px;
  top:662px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27143 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27144 {
  position:absolute;
  left:10px;
  top:724px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27145 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27146 {
  position:absolute;
  left:10px;
  top:767px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27147 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27149 {
  position:absolute;
  left:0px;
  top:100px;
  width:1283px;
  height:11px;
}
#u27150 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27151 {
  position:absolute;
  left:223px;
  top:100px;
  width:9px;
  height:1454px;
}
#u27152 {
  position:absolute;
  left:2px;
  top:719px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27153 {
  position:absolute;
  left:1px;
  top:471px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27154 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27155 {
  position:absolute;
  left:0px;
  top:810px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u27156 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27157 {
  position:absolute;
  left:9px;
  top:872px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27158 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27159 {
  position:absolute;
  left:10px;
  top:915px;
  width:213px;
  height:43px;
  text-decoration:underline;
  color:#008000;
}
#u27160 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27161 {
  position:absolute;
  left:10px;
  top:958px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27162 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27163 {
  position:absolute;
  left:361px;
  top:265px;
  width:148px;
  height:31px;
}
#u27163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27163_input:disabled {
  color:grayText;
}
#u27164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27164 {
  position:absolute;
  left:268px;
  top:269px;
  width:210px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27165 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u27166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27166 {
  position:absolute;
  left:718px;
  top:202px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27167 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27168 {
  position:absolute;
  left:484px;
  top:198px;
  width:126px;
  height:31px;
}
#u27168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27168_input:disabled {
  color:grayText;
}
#u27169 {
  position:absolute;
  left:943px;
  top:198px;
  width:126px;
  height:31px;
}
#u27169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27169_input:disabled {
  color:grayText;
}
