body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:1455px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23361 {
  position:absolute;
  left:8px;
  top:99px;
  width:1282px;
  height:1455px;
}
#u23362 {
  position:absolute;
  left:2px;
  top:720px;
  width:1278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:801px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23363 {
  position:absolute;
  left:268px;
  top:374px;
  width:975px;
  height:801px;
}
#u23364 {
  position:absolute;
  left:2px;
  top:392px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23365 {
  position:absolute;
  left:256px;
  top:124px;
  width:1023px;
  height:46px;
  color:#666666;
  text-align:left;
}
#u23366 {
  position:absolute;
  left:2px;
  top:15px;
  width:1019px;
  word-wrap:break-word;
}
#u23367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23367 {
  position:absolute;
  left:274px;
  top:195px;
  width:92px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23368 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23369 {
  position:absolute;
  left:274px;
  top:252px;
  width:92px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23370 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23371 {
  position:absolute;
  left:299px;
  top:411px;
  width:57px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23372 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23373 {
  position:absolute;
  left:299px;
  top:463px;
  width:64px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23374 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u23375 {
  position:absolute;
  left:377px;
  top:404px;
  width:141px;
  height:31px;
}
#u23375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23375_input:disabled {
  color:grayText;
}
#u23376 {
  position:absolute;
  left:377px;
  top:456px;
  width:141px;
  height:31px;
}
#u23376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23376_input:disabled {
  color:grayText;
}
#u23377 {
  position:absolute;
  left:400px;
  top:310px;
  width:126px;
  height:31px;
}
#u23377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23377_input:disabled {
  color:grayText;
}
#u23378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23378 {
  position:absolute;
  left:299px;
  top:702px;
  width:71px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23379 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u23380 {
  position:absolute;
  left:299px;
  top:521px;
  width:57px;
  height:17px;
  font-size:14px;
}
#u23381 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23382 {
  position:absolute;
  left:377px;
  top:520px;
  width:143px;
  height:31px;
}
#u23382_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23383 {
  position:absolute;
  left:274px;
  top:314px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23384 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u23385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23385 {
  position:absolute;
  left:452px;
  top:1202px;
  width:100px;
  height:40px;
}
#u23386 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u23387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u23387 {
  position:absolute;
  left:562px;
  top:1202px;
  width:100px;
  height:40px;
  color:#000000;
}
#u23388 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u23389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23390 {
  position:absolute;
  left:7px;
  top:0px;
  width:1283px;
  height:101px;
}
#u23391 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23393 {
  position:absolute;
  left:111px;
  top:45px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23394 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u23395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u23395 {
  position:absolute;
  left:53px;
  top:37px;
  width:38px;
  height:38px;
}
#u23396 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u23398 {
  position:absolute;
  left:7px;
  top:217px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23399 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u23400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u23400 {
  position:absolute;
  left:18px;
  top:280px;
  width:221px;
  height:43px;
  color:#000000;
}
#u23401 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u23402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u23402 {
  position:absolute;
  left:18px;
  top:323px;
  width:221px;
  height:43px;
  color:#000000;
}
#u23403 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u23404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u23404 {
  position:absolute;
  left:7px;
  top:111px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23405 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u23406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u23406 {
  position:absolute;
  left:18px;
  top:174px;
  width:221px;
  height:43px;
  color:#000000;
}
#u23407 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u23408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u23408 {
  position:absolute;
  left:15px;
  top:1066px;
  width:221px;
  height:43px;
}
#u23409 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u23410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u23410 {
  position:absolute;
  left:4px;
  top:1003px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23411 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u23412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u23412 {
  position:absolute;
  left:0px;
  top:366px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23413 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u23414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
}
#u23414 {
  position:absolute;
  left:11px;
  top:428px;
  width:222px;
  height:43px;
  color:#000000;
}
#u23415 {
  position:absolute;
  left:2px;
  top:14px;
  width:218px;
  word-wrap:break-word;
}
#u23416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u23416 {
  position:absolute;
  left:15px;
  top:1171px;
  width:221px;
  height:43px;
  color:#000000;
}
#u23417 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u23418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u23418 {
  position:absolute;
  left:4px;
  top:1109px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u23419 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u23420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23420 {
  position:absolute;
  left:17px;
  top:533px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23421 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23422 {
  position:absolute;
  left:17px;
  top:576px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23423 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23424 {
  position:absolute;
  left:17px;
  top:619px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23425 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u23426 {
  position:absolute;
  left:8px;
  top:662px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23427 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u23428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23428 {
  position:absolute;
  left:17px;
  top:724px;
  width:213px;
  height:43px;
  text-decoration:underline;
  color:#008000;
}
#u23429 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23430 {
  position:absolute;
  left:17px;
  top:767px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23431 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23433 {
  position:absolute;
  left:7px;
  top:100px;
  width:1283px;
  height:11px;
}
#u23434 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23435 {
  position:absolute;
  left:230px;
  top:100px;
  width:9px;
  height:1454px;
}
#u23436 {
  position:absolute;
  left:2px;
  top:719px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u23437 {
  position:absolute;
  left:8px;
  top:471px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23438 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u23439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u23439 {
  position:absolute;
  left:7px;
  top:810px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u23440 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u23441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23441 {
  position:absolute;
  left:16px;
  top:872px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23442 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23443 {
  position:absolute;
  left:17px;
  top:915px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23444 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u23445 {
  position:absolute;
  left:17px;
  top:958px;
  width:213px;
  height:43px;
  color:#000000;
}
#u23446 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u23447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23447 {
  position:absolute;
  left:679px;
  top:195px;
  width:92px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23448 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23450 {
  position:absolute;
  left:1032px;
  top:71px;
  width:116px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23451 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u23452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u23452 {
  position:absolute;
  left:1173px;
  top:71px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u23453 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u23454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u23454 {
  position:absolute;
  left:299px;
  top:589px;
  width:57px;
  height:17px;
  font-size:14px;
}
#u23455 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23456 {
  position:absolute;
  left:377px;
  top:588px;
  width:143px;
  height:31px;
}
#u23456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u23457 {
  position:absolute;
  left:299px;
  top:650px;
  width:57px;
  height:17px;
  font-size:14px;
}
#u23458 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23459 {
  position:absolute;
  left:377px;
  top:695px;
  width:143px;
  height:31px;
}
#u23459_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23460 {
  position:absolute;
  left:297px;
  top:754px;
  width:29px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23461 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23462 {
  position:absolute;
  left:375px;
  top:747px;
  width:143px;
  height:31px;
}
#u23462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23463 {
  position:absolute;
  left:297px;
  top:806px;
  width:29px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23464 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23465 {
  position:absolute;
  left:375px;
  top:799px;
  width:143px;
  height:31px;
}
#u23465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23466 {
  position:absolute;
  left:299px;
  top:861px;
  width:108px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23467 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u23468 {
  position:absolute;
  left:423px;
  top:854px;
  width:143px;
  height:31px;
}
#u23468_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23469 {
  position:absolute;
  left:297px;
  top:922px;
  width:121px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23470 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u23471 {
  position:absolute;
  left:422px;
  top:915px;
  width:143px;
  height:31px;
}
#u23471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23472 {
  position:absolute;
  left:297px;
  top:969px;
  width:41px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u23473 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23474 {
  position:absolute;
  left:383px;
  top:962px;
  width:143px;
  height:31px;
}
#u23474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23475 {
  position:absolute;
  left:377px;
  top:639px;
  width:143px;
  height:31px;
}
#u23475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u23476 {
  position:absolute;
  left:400px;
  top:191px;
  width:126px;
  height:31px;
}
#u23476_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23476_input:disabled {
  color:grayText;
}
#u23477 {
  position:absolute;
  left:400px;
  top:252px;
  width:126px;
  height:31px;
}
#u23477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23477_input:disabled {
  color:grayText;
}
#u23478 {
  position:absolute;
  left:790px;
  top:191px;
  width:126px;
  height:31px;
}
#u23478_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23478_input:disabled {
  color:grayText;
}
