body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13970 {
  position:absolute;
  left:1px;
  top:102px;
  width:232px;
  height:1452px;
}
#u13971 {
  position:absolute;
  left:2px;
  top:718px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:1494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13972 {
  position:absolute;
  left:-1px;
  top:101px;
  width:1442px;
  height:1494px;
}
#u13973 {
  position:absolute;
  left:2px;
  top:739px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u13974 {
  position:absolute;
  left:266px;
  top:123px;
  width:984px;
  height:46px;
  color:#666666;
  text-align:left;
}
#u13975 {
  position:absolute;
  left:2px;
  top:15px;
  width:980px;
  word-wrap:break-word;
}
#u13976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13976 {
  position:absolute;
  left:566px;
  top:646px;
  width:100px;
  height:40px;
  color:#000000;
}
#u13977 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:263px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13978 {
  position:absolute;
  left:267px;
  top:310px;
  width:664px;
  height:263px;
}
#u13979 {
  position:absolute;
  left:2px;
  top:124px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13981 {
  position:absolute;
  left:267px;
  top:219px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13982 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u13983 {
  position:absolute;
  left:519px;
  top:222px;
  width:35px;
  height:16px;
  text-align:center;
}
#u13984 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u13985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u13988 {
  position:absolute;
  left:282px;
  top:329px;
  width:62px;
  height:22px;
}
#u13989 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u13990 {
  position:absolute;
  left:440px;
  top:332px;
  width:40px;
  height:16px;
}
#u13991 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u13992 {
  position:absolute;
  left:413px;
  top:332px;
  width:8px;
  height:16px;
  text-align:center;
}
#u13993 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u13994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u13994 {
  position:absolute;
  left:415px;
  top:399px;
  width:8px;
  height:16px;
  text-align:center;
}
#u13995 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u13996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u13996 {
  position:absolute;
  left:417px;
  top:475px;
  width:8px;
  height:16px;
  text-align:center;
}
#u13997 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u13998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u13998 {
  position:absolute;
  left:284px;
  top:399px;
  width:48px;
  height:22px;
}
#u13999 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u14000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14000 {
  position:absolute;
  left:440px;
  top:399px;
  width:40px;
  height:16px;
}
#u14001 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u14003 {
  position:absolute;
  left:284px;
  top:471px;
  width:62px;
  height:22px;
}
#u14004 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u14005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14005 {
  position:absolute;
  left:440px;
  top:475px;
  width:40px;
  height:16px;
}
#u14006 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14008 {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
}
#u14009 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14011 {
  position:absolute;
  left:104px;
  top:45px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14012 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u14013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u14013 {
  position:absolute;
  left:46px;
  top:37px;
  width:38px;
  height:38px;
}
#u14014 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u14016 {
  position:absolute;
  left:1025px;
  top:71px;
  width:116px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u14018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u14018 {
  position:absolute;
  left:1166px;
  top:71px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u14019 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14021 {
  position:absolute;
  left:267px;
  top:265px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14022 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u14023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u14023 {
  position:absolute;
  left:391px;
  top:269px;
  width:36px;
  height:16px;
  text-align:center;
}
#u14024 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14026 {
  position:absolute;
  left:687px;
  top:219px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14027 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u14028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u14028 {
  position:absolute;
  left:928px;
  top:222px;
  width:45px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u14029 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14032 {
  position:absolute;
  left:-1px;
  top:475px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14033 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14034 {
  position:absolute;
  left:10px;
  top:537px;
  width:221px;
  height:43px;
  color:#000000;
}
#u14035 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14036 {
  position:absolute;
  left:-1px;
  top:325px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14037 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14038 {
  position:absolute;
  left:10px;
  top:388px;
  width:221px;
  height:43px;
  color:#000000;
}
#u14039 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14040 {
  position:absolute;
  left:10px;
  top:431px;
  width:221px;
  height:43px;
  color:#000000;
}
#u14041 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14042 {
  position:absolute;
  left:-1px;
  top:112px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14043 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14044 {
  position:absolute;
  left:10px;
  top:175px;
  width:221px;
  height:43px;
  color:#1E1E1E;
}
#u14045 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14046 {
  position:absolute;
  left:-1px;
  top:219px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14047 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14048 {
  position:absolute;
  left:10px;
  top:282px;
  width:221px;
  height:43px;
  color:#000000;
}
#u14049 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14050 {
  position:absolute;
  left:10px;
  top:1433px;
  width:221px;
  height:43px;
}
#u14051 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14052 {
  position:absolute;
  left:-1px;
  top:1370px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14053 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14054 {
  position:absolute;
  left:-1px;
  top:579px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14055 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
}
#u14056 {
  position:absolute;
  left:10px;
  top:641px;
  width:222px;
  height:43px;
  color:#000000;
}
#u14057 {
  position:absolute;
  left:2px;
  top:14px;
  width:218px;
  word-wrap:break-word;
}
#u14058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u14058 {
  position:absolute;
  left:10px;
  top:1538px;
  width:221px;
  height:43px;
  color:#000000;
}
#u14059 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u14060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14060 {
  position:absolute;
  left:-1px;
  top:1476px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u14061 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u14062 {
  position:absolute;
  left:3px;
  top:838px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14063 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u14064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14064 {
  position:absolute;
  left:12px;
  top:900px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14065 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14066 {
  position:absolute;
  left:12px;
  top:943px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14067 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14068 {
  position:absolute;
  left:12px;
  top:986px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14069 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u14070 {
  position:absolute;
  left:3px;
  top:1029px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14071 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u14072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14072 {
  position:absolute;
  left:12px;
  top:1091px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14073 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14074 {
  position:absolute;
  left:12px;
  top:1134px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14075 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:43px;
}
#u14077 {
  position:absolute;
  left:16px;
  top:745px;
  width:215px;
  height:43px;
  color:#000000;
}
#u14078 {
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
#u14079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u14079 {
  position:absolute;
  left:-1px;
  top:683px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14080 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u14081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14082 {
  position:absolute;
  left:0px;
  top:100px;
  width:1283px;
  height:11px;
}
#u14083 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1476px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14084 {
  position:absolute;
  left:223px;
  top:100px;
  width:9px;
  height:1476px;
}
#u14085 {
  position:absolute;
  left:2px;
  top:730px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u14086 {
  position:absolute;
  left:0px;
  top:1177px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u14087 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u14088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14088 {
  position:absolute;
  left:9px;
  top:1239px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14089 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14090 {
  position:absolute;
  left:10px;
  top:1325px;
  width:213px;
  height:43px;
  color:#000000;
}
#u14091 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u14092 {
  position:absolute;
  left:10px;
  top:1282px;
  width:213px;
  height:43px;
  text-decoration:underline;
  color:#008000;
}
#u14093 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u14094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:43px;
}
#u14094 {
  position:absolute;
  left:16px;
  top:788px;
  width:215px;
  height:43px;
  color:#000000;
}
#u14095 {
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  word-wrap:break-word;
}
