body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:1451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27270 {
  position:absolute;
  left:1px;
  top:103px;
  width:229px;
  height:1451px;
}
#u27271 {
  position:absolute;
  left:2px;
  top:718px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:1453px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27272 {
  position:absolute;
  left:232px;
  top:101px;
  width:1051px;
  height:1453px;
}
#u27273 {
  position:absolute;
  left:2px;
  top:718px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u27274 {
  position:absolute;
  left:249px;
  top:121px;
  width:998px;
  height:46px;
  color:#666666;
  text-align:left;
}
#u27275 {
  position:absolute;
  left:2px;
  top:15px;
  width:994px;
  word-wrap:break-word;
}
#u27276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27276 {
  position:absolute;
  left:265px;
  top:366px;
  width:778px;
  height:220px;
}
#u27277 {
  position:absolute;
  left:2px;
  top:102px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u27278 {
  position:absolute;
  left:566px;
  top:646px;
  width:100px;
  height:40px;
  color:#000000;
}
#u27279 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u27280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27280 {
  position:absolute;
  left:259px;
  top:204px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27281 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u27285 {
  position:absolute;
  left:280px;
  top:409px;
  width:62px;
  height:22px;
}
#u27286 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u27287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27287 {
  position:absolute;
  left:438px;
  top:412px;
  width:40px;
  height:16px;
}
#u27288 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u27289 {
  position:absolute;
  left:411px;
  top:412px;
  width:8px;
  height:16px;
  text-align:center;
}
#u27290 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u27291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u27291 {
  position:absolute;
  left:413px;
  top:470px;
  width:8px;
  height:16px;
  text-align:center;
}
#u27292 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u27293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u27293 {
  position:absolute;
  left:415px;
  top:535px;
  width:8px;
  height:16px;
  text-align:center;
}
#u27294 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u27295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u27295 {
  position:absolute;
  left:282px;
  top:470px;
  width:48px;
  height:22px;
}
#u27296 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u27297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27297 {
  position:absolute;
  left:438px;
  top:470px;
  width:40px;
  height:16px;
}
#u27298 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u27300 {
  position:absolute;
  left:282px;
  top:532px;
  width:62px;
  height:22px;
}
#u27301 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u27302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27302 {
  position:absolute;
  left:438px;
  top:535px;
  width:40px;
  height:16px;
}
#u27303 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u27304 {
  position:absolute;
  left:491px;
  top:207px;
  width:36px;
  height:16px;
  text-align:center;
}
#u27305 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u27306 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27307 {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:101px;
}
#u27308 {
  position:absolute;
  left:2px;
  top:42px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27310 {
  position:absolute;
  left:104px;
  top:45px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27311 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u27312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u27312 {
  position:absolute;
  left:46px;
  top:37px;
  width:38px;
  height:38px;
}
#u27313 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27315 {
  position:absolute;
  left:1025px;
  top:71px;
  width:116px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u27316 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u27317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u27317 {
  position:absolute;
  left:1166px;
  top:71px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u27318 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u27319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27320 {
  position:absolute;
  left:0px;
  top:217px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27321 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27322 {
  position:absolute;
  left:11px;
  top:280px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27323 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27324 {
  position:absolute;
  left:11px;
  top:323px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27325 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27326 {
  position:absolute;
  left:0px;
  top:111px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27327 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27328 {
  position:absolute;
  left:11px;
  top:174px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27329 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27330 {
  position:absolute;
  left:8px;
  top:1065px;
  width:221px;
  height:43px;
}
#u27331 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27332 {
  position:absolute;
  left:-3px;
  top:1002px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27333 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27334 {
  position:absolute;
  left:-7px;
  top:366px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27335 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:43px;
}
#u27336 {
  position:absolute;
  left:4px;
  top:428px;
  width:222px;
  height:43px;
  color:#000000;
}
#u27337 {
  position:absolute;
  left:2px;
  top:14px;
  width:218px;
  word-wrap:break-word;
}
#u27338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:43px;
}
#u27338 {
  position:absolute;
  left:8px;
  top:1170px;
  width:221px;
  height:43px;
  color:#000000;
}
#u27339 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u27340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
}
#u27340 {
  position:absolute;
  left:-3px;
  top:1108px;
  width:232px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u27341 {
  position:absolute;
  left:2px;
  top:23px;
  width:228px;
  word-wrap:break-word;
}
#u27342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27342 {
  position:absolute;
  left:10px;
  top:533px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27343 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27344 {
  position:absolute;
  left:10px;
  top:576px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27345 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27346 {
  position:absolute;
  left:10px;
  top:619px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27347 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27348 {
  position:absolute;
  left:1px;
  top:662px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27349 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27350 {
  position:absolute;
  left:10px;
  top:724px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27351 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27352 {
  position:absolute;
  left:10px;
  top:767px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27353 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27354 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27355 {
  position:absolute;
  left:0px;
  top:100px;
  width:1283px;
  height:11px;
}
#u27356 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27357 {
  position:absolute;
  left:223px;
  top:100px;
  width:9px;
  height:1454px;
}
#u27358 {
  position:absolute;
  left:2px;
  top:719px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27359 {
  position:absolute;
  left:1px;
  top:471px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27360 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:62px;
}
#u27361 {
  position:absolute;
  left:0px;
  top:810px;
  width:222px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u27362 {
  position:absolute;
  left:2px;
  top:23px;
  width:218px;
  word-wrap:break-word;
}
#u27363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27363 {
  position:absolute;
  left:9px;
  top:872px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27364 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27365 {
  position:absolute;
  left:10px;
  top:915px;
  width:213px;
  height:43px;
  text-decoration:underline;
  color:#008000;
}
#u27366 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:43px;
}
#u27367 {
  position:absolute;
  left:10px;
  top:958px;
  width:213px;
  height:43px;
  color:#000000;
}
#u27368 {
  position:absolute;
  left:2px;
  top:14px;
  width:209px;
  word-wrap:break-word;
}
#u27369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27369 {
  position:absolute;
  left:614px;
  top:201px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u27370 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u27371 {
  position:absolute;
  left:845px;
  top:204px;
  width:45px;
  height:16px;
  text-align:center;
}
#u27372 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u27373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27373 {
  position:absolute;
  left:259px;
  top:271px;
  width:206px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27374 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u27375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u27375 {
  position:absolute;
  left:494px;
  top:274px;
  width:36px;
  height:16px;
  text-align:center;
}
#u27376 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
